[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pony = "*"
pynacl = "*"
python-jose = "*"
gunicorn = "*"
setproctitle = "*"
mysqlclient = "*"
codecov = "*"
detox = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
pytest = "*"
flask = "*"
pony = "*"
pynacl = "*"
flask-login = "*"
"flake8" = "*"
flask-wtf = "*"
mysqlclient = "*"
tox = "*"
coverage = "*"

[requires]
python_version = "3.7"

[scripts]
mjml = "mjml -r mailer/mjml/*.mjml -o mailer/mjml"
postman = "python postman.py"
