[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pony = "*"
flask-pony = "*"
pynacl = "*"
python-jose = "*"
gunicorn = "*"
setproctitle = "*"
mysqlclient = "*"
tox = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
pytest = "*"
flask = "*"
pony = "*"
flask-pony = "*"
pynacl = "*"
python-jose = "*"
flask-login = "*"
flask-principal = "*"
"flake8" = "*"
flask-wtf = "*"
mysqlclient = "*"

[requires]
python_version = "3.6"

[scripts]
postman = "python postman.py"
