{% extends "base.j2" %}

{% block content %}
<br/><br/>
<div class="col-lg-10 offset-lg-1 text-center">
    <h3>Nothing to see here, click queue.</h3>
    <a href="https://coschedule.com/blog/best-time-to-send-email/">Best time to send emails</a>
    <h5>Tue & Thu @ 10am</h5>
    <a href="https://www.campaignmonitor.com/blog/email-marketing/2016/01/70-email-marketing-stats-you-need-to-know/">Email marketing roi</a>
</div>
{% endblock %}