{% extends "base.j2" %}

{% block content %}
<br/><br/>
<div class="col-lg-10 offset-lg-1 text-center">
<div class="row">
    <div class=" col-lg-6">
        <div class="col-lg-12">
            <h1>Customers</h1>
        </div>
        <div class="row">
        <div class="card col-lg-5">
            <div class="card-body">
                <h5 class="card-title">Total</h5>
                <h2 class="card-text text-center">5</h2>
            </div>
        </div>
        <div class="card col-lg-5 offset-lg-1">
            <div class="card-body">
                <h5 class="card-title">Emailed</h5>
                <h2 class="card-text text-center">5</h2>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-12">
            <h1>Templates</h1>
        </div>
        <div class="row">
        <div class="card col-lg-5">
            <div class="card-body">
                <h5 class="card-title">Total</h5>
                <h2 class="card-text text-center">4</h2>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}