{% extends "base.j2" %}

{% block content %}
<br/><br/>
<div class="col-lg-10 offset-lg-1">
    <div class="col-lg-12">
    <div class="row">
            <div class="col-lg-6">
                <a href="{{ url_for('.subgroups_add') }}" class="btn btn-primary"><span class="oi oi-plus"></span>&nbsp;&nbsp;Add Subgroup</a>
            </div>
            <div class="col-lg-6 text-right">
                <h2>Subgroups</h2>
            </div>
        </div>
    <br/><br/>
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for subgroup in subgroups %}
            {% if subgroup.name != "Null" %}
            <tr>
                <td><a href="{{ url_for('mailer.admin_routes.subgroups_edit', subgroup_id=subgroup.sid) }}" style="color:navy"><span class="oi oi-pencil"></span></a></td>
                <th scope="row">{{ subgroups.name }}</th>
                <td><a href="{{ url_for('mailer.admin_routes.subgroups_remove', subgroup_id=subgroup.sid) }}" style="color:red"><span class="oi oi-delete"></span></a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if subgroups|length <= 1 %}
        <h4 class="text-center">No subgroups have been added.</h4>
    {% endif %}
    </div>
</div>
{% endblock %}