{% extends "base.j2" %}

{% block content %}
<br/><br/>
<div class="col-lg-10 offset-lg-1">
    <div class="col-lg-12">
        <div class="row">
            {% if g.role.can_add_templates %}
            <div class="col-lg-6">
                <a href="/templates/add" class="btn btn-primary"><span class="oi oi-plus"></span>&nbsp;&nbsp;Add Template</a>
            </div>
            {% endif %}
            <div class="col-lg-6 text-right">
                <h2>Templates</h2>
            </div>
        </div>
    <br/><br/>
    {% with messages = get_flashed_messages(category_filter=['template_error']) %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endwith %}
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Date added</th>
                <th scope="col">Expires on</th>
                <th scope="col">Added by</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for tpl in templates.values() %}
            <tr>
                <td><a href="/templates/edit/{{ tpl.tis }}?token={{ token }}" style="color:navy"><span class="oi oi-pencil"></span></a></td>
                <th scope="row"><a href="/templates/view/{{ tpl.tid }}">{{ tpl.name }}</a></th>
                <td>{{ tpl.added_on }}</td>
                <td>{% if tpl.expires_on == None %}Never{% else %}{{ tpl.expires_on }}{% endif %}</td>
                <td>{{ tpl.added_by }}</td>
                <td><a href="/templates/remove/{{ tpl.tid }}?token={{ token }}" style="color:red"><span class="oi oi-delete"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if template_list|length == 0 %}
        <h4 class="text-center">No templates have been created.</h4>
    {% endif %}
    </div>
</div>
{% endblock %}