{% extends "base.j2" %}

{% block content %}
<br/><br/>
<div class="col-lg-10 offset-lg-1">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <a href="/admin/users/add?token={{ token }}" class="btn btn-primary"><span class="oi oi-plus"></span>&nbsp;&nbsp;Add User</a>
            </div>
            <div class="col-lg-6 text-right">
                <h2>Users</h2>
            </div>
        </div>
    <br/><br/>
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Username</th>
                <th scope="col">Franchise</th>
                <th scope="col">Name</th>
                <th scope="col">Is admin</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users.values() %}
            <tr>
                <td><a href="/admin/users/edit/{{ user.user_id }}?token={{ token }}" style="color:navy"><span class="oi oi-pencil"></span></a></td>
                <th scope="row">{{ user.username }}</th>
                <td>{{ user.franchise_name }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.is_admin }}</td>
                <td><a href="/admin/users/remove/{{ user.user_id }}?token={{ token }}" style="color:red"><span class="oi oi-delete"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}